/* div:hover {
    background-color:grey;
  }  */


  /* .pointerCursor
{
    cursor: pointer;


} */

.tblHt2
{
    color: #666666;
    font:14px  'OpenSans';
    background: #ffffff;
    padding: 8px 13px;
}