

<!-- <h1 class="text-center text-primary">MIS-Release Planner</h1> -->

<div class="row tblHt2">
  <div class="card col-md-6" >
    <!--<img src="D:\Users\KaushiA1\Pictures" class="card-img-top" />-->
    <div class="card-body pointerCursor">
      <h4 class="card-tiltle">Rating</h4>
      <p class="card-text"><b>LOB Lead</b>:Hanumantha</p>
      <p class="card-text"><b>Upcoming Production release</b>:26/08/2020</p>
      <p class="card-text"><b>Walk through</b>:Pending</p>
    </div>
    <div class="card-footer">
      <button href="" class="btn btn-primary btn-block">View Details</button>
    </div>
  </div>
  <div class="card col-md-6 pointerCursor">
    <div class="card-body">
      <h4 class="card-tiltle">Transformation</h4>
      <p class="card-text"><b>LOB Lead</b>:Sindhu</p>
      <p class="card-text"><b>Upcoming Production release</b>:26/08/2020</p>
      <p class="card-text"><b>Walk through</b>:Completed</p>
    </div>
    <div class="card-footer">
      <button href="" class="btn btn-primary btn-block">View Details</button>
    </div>
  
</div>

</div>

<div class="row tblHt2">
  <div class="card col-md-6 pointerCursor">
    <div class="card-body">
      <h4 class="card-tiltle">Research</h4>
      <p class="card-text"><b>LOB Lead</b>:Ajeet</p>
      <p class="card-text"><b>Upcoming Production release</b>:26/08/2020</p>
      <p class="card-text"><b>Walk through</b>:Pending</p>
    </div>
    <div class="card-footer">
      <button href="" class="btn btn-primary btn-block">View Details</button>
    </div>
  </div>
  <div  class="card col-md-6 pointerCursor">
    <div class="card-body">
      <h4 class="card-tiltle">Analytics</h4>
      <p class="card-text"><b>LOB Lead</b>:Ayush Kaushik</p>
      <p class="card-text"><b>Upcoming Production release</b>:26/08/2020</p>
      <p class="card-text"><b>Walk through</b>:Completed</p>
    </div>
    <div class="card-footer">
      <button href="" class="btn btn-primary btn-block">View Details</button>
    </div>

  </div>

</div>

